ipch/kmedians-f24cfa78/kmedians-eb274ab6.ipch
Kmedians.opensdf
Kmedians.sdf
Kmedians.v12.suo
Kmedians/opencv.props
Kmedians/x64/Debug/Kmedians.log
Kmedians/x64/Debug/Kmedians.obj
Kmedians/x64/Debug/Kmedians.pch
Kmedians/x64/Debug/Kmedians.tlog/cl.command.1.tlog
Kmedians/x64/Debug/Kmedians.tlog/CL.read.1.tlog
Kmedians/x64/Debug/Kmedians.tlog/CL.write.1.tlog
Kmedians/x64/Debug/Kmedians.tlog/Kmedians.lastbuildstate
Kmedians/x64/Debug/Kmedians.tlog/link.command.1.tlog
Kmedians/x64/Debug/Kmedians.tlog/link.read.1.tlog
Kmedians/x64/Debug/Kmedians.tlog/link.write.1.tlog
Kmedians/x64/Debug/stdafx.obj
Kmedians/x64/Debug/vc120.idb
Kmedians/x64/Debug/vc120.pdb
x64/Debug/Kmedians.exe
x64/Debug/Kmedians.ilk
x64/Debug/Kmedians.pdb
ipch/kmedians-668940d8/kmedians-b354cf8.ipch
ipch/kmedians-668940d8/kmedians-eb274ab6.ipch
